@page "/new-game"
@inject NavigationManager navigationManager;
@using Microsoft.AspNetCore.SignalR.Client;

<PageTitle>Start New Game</PageTitle>

<h3>Start New Game</h3>

<div class="container mt-3">
    <input type="text" id="gamerName" class="form-control" @bind="@gamerName" placeholder="Gamer name" />
    <br />
    <input type="button" id="startNewGame" value="Create" class="btn btn-primary" @onclick="@StartNewGame" />
</div>

@code {
    string gamerName = string.Empty;
    HubConnection connection;

    protected override async Task OnInitializedAsync()
    {
        string baseUrl = navigationManager.BaseUri;

        string _hubUrl = baseUrl.TrimEnd('/') + "/scrumPokerHub";

        connection = new HubConnectionBuilder().WithUrl(_hubUrl).Build();
        connection.On<Guid>("NavigateToGame", this.NavigateToGame);
        await connection.StartAsync();
    }

    async Task StartNewGame()
    {
        await connection.InvokeAsync("StartNewGame");

    }

    Task NavigateToGame(Guid gameId)
    {
        navigationManager.NavigateTo($"game/{gameId}/{gamerName}");
        return Task.CompletedTask;
    }
}

